<a href="https://colab.research.google.com/github/RahulBhatt24/NFL-Projects/blob/main/most_efficient_play.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Installing Packages

In [61]:
# !pip install nfl_data_py
# !pip install pandas
# !pip install os
# !pip install matplotlib

In [62]:
import nfl_data_py as nfl
import pandas as pd
import os
import urllib.request
import matplotlib.pyplot as plt
from matplotlib.offsetbox import AnnotationBbox, OffsetImage

# Input User Filters

In [63]:
team = "PHI"
yard_line = 15
side_of_field = "OPP"
down = 3

# Import data from 2022 season

In [64]:
pbp = nfl.import_pbp_data([2022])

2022 done.
Downcasting floats.

In [65]:
pbp.head()

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,offense_formation,offense_personnel,defenders_in_box,defense_personnel,number_of_pass_rushers,players_on_play,offense_players,defense_players,n_offense,n_defense
0,1.0,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,None,None,None,...,None,None,NaN,None,NaN,,,,0,0
1,43.0,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,NYJ,home,BAL,...,None,None,NaN,None,NaN,47969;53059;42500;46279;53575;48364;46253;5460...,00-0036157;00-0035202;00-0037984;00-0029597;00...,00-0035537;00-0032134;00-0034419;00-0036500;00...,11,11
2,68.0,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,NYJ,home,BAL,...,SINGLEBACK,"1 RB, 2 TE, 2 WR",7.0,"3 DL, 4 LB, 4 DB",NaN,53536;43586;53443;42371;42500;44999;43433;3309...,00-0036924;00-0032466;00-0036979;00-0032234;00...,00-0033294;00-0026190;00-0032574;00-0028278;00...,11,11
3,89.0,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,NYJ,home,BAL,...,SHOTGUN,"1 RB, 2 TE, 2 WR",6.0,"3 DL, 4 LB, 4 DB",4.0,53536;43586;42371;53443;42500;44999;43433;3309...,00-0036924;00-0032466;00-0032234;00-0036979;00...,00-0033294;00-0026190;00-0032574;00-0028278;00...,11,11
4,115.0,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,NYJ,home,BAL,...,SINGLEBACK,"1 RB, 2 TE, 2 WR",7.0,"3 DL, 4 LB, 4 DB",NaN,53536;43586;53443;42371;42500;44999;43433;3309...,00-0036924;00-0032466;00-0036979;00-0032234;00...,00-0033294;00-0026190;00-0032574;00-0028278;00...,11,11

# Filter the data

In [ ]:
pbp = pbp[(pbp['pass'] == 1) | (pbp['rush'] == 1)]
pbp = pbp[ pbp["posteam"] == team]
pbp = pbp[ pbp["yardline_100"] == yard_line]
if (side_of_field == "PHI"):
  pbp = pbp[ pbp["side_of_field"] == "PHI"]
else:
  pbp = pbp[ pbp["side_of_field"] != "PHI"]

In [ ]:
pbp.head()

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,offense_formation,offense_personnel,defenders_in_box,defense_personnel,number_of_pass_rushers,players_on_play,offense_players,defense_players,n_offense,n_defense
15100,1052.0,2022_06_DAL_PHI,2022101611,PHI,DAL,REG,6,PHI,home,DAL,...,SHOTGUN,"1 RB, 1 TE, 3 WR",7.0,"3 DL, 3 LB, 5 DB",2.0,52608;53504;47841;53441;46118;44904;43368;4234...,00-0036271;00-0034351;00-0032954;00-0036919;00...,00-0036942;00-0035247;00-0036932;00-0033928;00...,11,11
30033,451.0,2022_12_GB_PHI,2022112711,PHI,GB,REG,12,PHI,home,GB,...,SHOTGUN,"1 RB, 1 TE, 3 WR",7.0,"3 DL, 3 LB, 5 DB",NaN,52608;43426;46087;43368;43338;42381;52461;3995...,00-0036271;00-0032954;00-0036389;00-0030561;00...,00-0032412;00-0034728;00-0032387;00-0031935;00...,11,11
34244,3521.0,2022_13_TEN_PHI,2022120407,PHI,TEN,REG,13,PHI,home,TEN,...,JUMBO,"1 RB, 1 TE, 3 WR",9.0,"2 DL, 4 LB, 5 DB",NaN,54500;48486;43368;45643;53579;43757;52461;5518...,00-0035356;00-0032954;00-0036919;00-0036389;00...,00-0038125;00-0033765;00-0032637;00-0037593;00...,11,11
49604,3079.0,2022_20_NYG_PHI,2023012101,PHI,NYG,POST,20,PHI,home,NYG,...,SHOTGUN,"1 RB, 2 TE, 2 WR",8.0,"3 DL, 4 LB, 4 DB",NaN,55200;44833;43333;46118;54470;43368;53579;5246...,00-0034351;00-0032954;00-0036919;00-0036389;00...,00-0037621;00-0033539;00-0033046;00-0037611;00...,11,11
13392,2421.0,2022_05_PHI_ARI,2022100911,ARI,PHI,REG,5,PHI,away,ARI,...,SHOTGUN,"1 RB, 1 TE, 3 WR",6.0,"3 DL, 4 LB, 4 DB",NaN,52416;52608;48514;49410;53445;46118;53639;4781...,00-0036271;00-0035384;00-0034351;00-0032954;00...,00-0036356;00-0035705;00-0036933;00-0036896;00...,11,11

# **Results**

In [ ]:
pbp = pbp.sort_values("epa", ascending=False)
pbp[["posteam", "offense_formation", "play_type", "epa"]]

      posteam offense_formation play_type       epa
15100     PHI           SHOTGUN      pass  2.797051
30033     PHI           SHOTGUN       run  1.839226
34244     PHI             JUMBO       run  1.423472
49604     PHI           SHOTGUN       run -0.444981
13392     PHI           SHOTGUN   no_play -1.142443